<div>
  <div *ngIf="currentOrder.id">
    <h4>Order</h4>
    <div>
      <label><strong>Code:</strong></label> {{ currentOrder.code }}
    </div>
    <div>
      <label><strong>Created On:</strong></label>
      {{ currentOrder.orderTime }}
    </div>
    <div>
      <label><strong>Notes:</strong></label>
      {{ currentOrder.notes }}
    <div>
      <label><strong>Type:</strong></label>
      {{ currentOrder.type }}
    </div>
    <div>
      <label><strong>Status:</strong></label>
      {{ currentOrder.status }}
    </div>
  </div>

  <div *ngIf="!currentOrder">
    <br />
    <p>Please click on an Order...</p>
  </div>
</div>

