<div *ngIf="viewMode; else editable">
  <div *ngIf="currentOrder.Id">
    <h4>Order</h4>
    <div>
      <label><strong>Title:</strong></label> {{ currentOrder.code }}
    </div>
    <div>
      <label><strong>Type:</strong></label>
      {{ currentOrder.type }}
    </div>
    <div>
      <label><strong>Status:</strong></label>
      {{ currentOrder.status }}
    </div>

    <a class="badge badge-warning"
      routerLink="/orders/{{ currentOrder.Id }}">
      Edit
    </a>
  </div>

  <div *ngIf="!currentOrder">
    <br />
    <p>Please click on an Order...</p>
  </div>
</div>

<ng-template #editable>
  <div *ngIf="currentOrder.Id" class="edit-form">
    <h4>Order</h4>
    <form>
      <div class="form-group">
        <label for="code">Code</label>
        <input
          type="text"
          class="form-control"
          id="code"
          [(ngModel)]="currentOrder.code"
          name="title"
        />
      </div>
      <div class="form-group">
        <label for="description">Notes</label>
        <input
          type="text"
          class="form-control"
          id="notes"
          [(ngModel)]="currentOrder.notes"
          name="notes"
        />
      </div>

      <div class="form-group">
        <label><strong>Status:</strong></label>
        {{ currentOrder.status }}
      </div>
    </form>

   <button
      type="submit"
      class="badge badge-success mb-2"
      (click)="updateOrder()"
    >
      Update
    </button>
    <p>{{ message }}</p>
  </div>

  <div *ngIf="!currentOrder.Id">
    <br />
    <p>Cannot access this Order...</p>
  </div>
</ng-template>
